.wrapper{
  min-height:100vh;
  background-image: #fff;
  align-content:center;
  display:block;
  position:relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.app{
  
  text-align: center;
  display:flex;
  justify-content:space-around;
  align-content:center;
  align-items: center;
  
}

.searchBox{
  
  text-align: center;
  align-content:center;
  align-items: center;
  margin-bottom:40px;
  
}

.content {
  text-align: center;
  display:flex;
  justify-content:space-around;
  align-content:center;
  align-items: center;
  
}

.box{
  padding:30px;
  color:black;
  background-color: white;
  width:150px;
  height:150px;
  margin: 0 20px;
  display: grid;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  border-radius: 16px;
  
}

.box:hover{
  transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transform: translateY(0) scale(1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.hide{
  display:none;
}

